body,input,textarea,select,datalist,a {
    font-family: monospace;
    font-size: 1.0vw
    font-weight: 400;
    background-color: #222;
    color: #ccc    
}

body {
	margin: 0;
	padding: 0;
}


input,textarea,select {
 	border: 1px;
    border-style: solid;
    border-color: #444; 
}


.menuContainer {
	display: flex;
	position: sticky;
	top: 0px;	
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 100%;
	background-color: #000;
	cursor: pointer;
}


.menuItem {
	font-weight: 800;
	text-decoration: none;
	padding-right: 20px;
	background-color: #000;
}


.menuItemClickable {
	/*padding-right: 0;*/
	padding: 3px;
}


.menuItemClickable:hover {
	background-color: #ccc;
	color: #222;
	transition: all 0.25s;	
}


.menuItemVersion {
	margin-left:auto;
}


.lineContainer {
    width: 80em;
    border: 1px;
    border-color: #444;
    border-style: solid;
    margin: 30px;
    padding: 5px; 
}


.linePropertyContainer {
    display: flex;
    column-gap: 10px;
    padding: 3px;
}


.lineLabel {
    padding: 3px;
    flex: 1;
    font-weight: 800;
}


.lineText {
    padding: 10px;
    flex: 20;
    border-color: #444;
}


.lineName {
    flex: 6;
}


.lineEmotion {
   flex: 2;
   
}


.lineLabelHeSaid {
    font-weight: 800;
}


.lineHeSaid {
    flex: 1;
}


.lineFlash {
	background-color: #fff;
	transition: all 1s;	
}


.lineFlashEnd {
	background-color: #222;
	transition: all 1s;	
}
